/* ############ Open Sans ############ */
@font-face {
    font-family: 'opensans-italic';
    src: url('/fonts/opensans/opensans-italic.eot');
    src: url('/fonts/opensans/opensans-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-italic.woff') format('woff'),
         url('/fonts/opensans/opensans-italic.svg#opensans-italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-regular';
    src: url('/fonts/opensans/opensans-regular.eot');
    src: url('/fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-regular.woff') format('woff'),
         url('/fonts/opensans/opensans-regular.svg#opensans-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semibold';
    src: url('/fonts/opensans/opensans-semibold.eot');
    src: url('/fonts/opensans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-semibold.woff') format('woff'),
         url('/fonts/opensans/opensans-semibold.svg#opensans-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('/fonts/opensans/opensans-bold.eot');
    src: url('/fonts/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-bold.woff') format('woff'),
         url('/fonts/opensans/opensans-bold.svg#opensans-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extrabold';
    src: url('/fonts/opensans/opensans-extrabold.eot');
    src: url('/fonts/opensans/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-extrabold.woff') format('woff'),
         url('/fonts/opensans/opensans-extrabold.svg#opensans-extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-semibold_italic';
    src: url('/fonts/opensans/opensans-semibolditalic.eot');
    src: url('/fonts/opensans/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-semibolditalic.woff') format('woff'),
         url('/fonts/opensans/opensans-semibolditalic.svg#opensans-semibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold_italic';
    src: url('/fonts/opensans/opensans-bolditalic.eot');
    src: url('/fonts/opensans/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-bolditalic.woff') format('woff'),
         url('/fonts/opensans/opensans-bolditalic.svg#opensansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-extrabold_italic';
    src: url('/fonts/opensans/opensans-extrabolditalic.eot');
    src: url('/fonts/opensans/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-extrabolditalic.woff') format('woff'),
         url('/fonts/opensans/opensans-extrabolditalic.svg#opensans-extrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light';
    src: url('/fonts/opensans/opensans-light.eot');
    src: url('/fonts/opensans/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-light.woff') format('woff'),
         url('/fonts/opensans/opensans-light.svg#opensans-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-light_italic';
    src: url('/fonts/opensans/opensans-lightitalic.eot');
    src: url('/fonts/opensans/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans/opensans-lightitalic.woff') format('woff'),
         url('/fonts/opensans/opensans-lightitalic.svg#opensans-light_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ############ Proxima Nova ############ */
@font-face {
    font-family: 'proximanova-regular';
    src: url('/fonts/proximanova/ProximaNova-Regular.eot');
    src: url('/fonts/proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Regular.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Regular.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Regular.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-medium';
    src: url('/fonts/proximanova/ProximaNova-Medium.eot');
    src: url('/fonts/proximanova/ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Medium.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Medium.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Medium.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-thin';
    src: url('/fonts/proximanova/ProximaNova-Thin.eot');
    src: url('/fonts/proximanova/ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Thin.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Thin.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Thin.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-light';
    src: url('/fonts/proximanova/ProximaNova-Light.eot');
    src: url('/fonts/proximanova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Light.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Light.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Light.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-semibold';
    src: url('/fonts/proximanova/ProximaNova-Semibold.eot');
    src: url('/fonts/proximanova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Semibold.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Semibold.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Semibold.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-bold';
    src: url('/fonts/proximanova/ProximaNova-Bold.eot');
    src: url('/fonts/proximanova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Bold.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Bold.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Bold.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proximanova-extrabold';
    src: url('/fonts/proximanova/ProximaNova-Extrabold.eot');
    src: url('/fonts/proximanova/ProximaNova-Extrabold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/proximanova/ProximaNova-Extrabold.woff2') format('woff2'),
         url('/fonts/proximanova/ProximaNova-Extrabold.woff') format('woff'),
         url('/fonts/proximanova/ProximaNova-Extrabold.ttf') format('truetype'),
         url('/fonts/proximanova/ProximaNova-Extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}