@mixin sprite($width, $height, $margin) {
	display: inline-block;
	vertical-align: middle;
	width: $width;
	height: $height;
	margin: $margin;
}

.ico-smile {
	background:url(/images/ico/ico-smile.svg) no-repeat;
	@include sprite(15px, 15px, 0 2px);
}
.ico-bag {
	background:url(/images/ico/ico-bag.svg) no-repeat;
	@include sprite(15px, 13px, 0 2px);
}
.ico-card {
	background:url(/images/ico/ico-card.svg) no-repeat;
	@include sprite(15px, 12px, 0 2px);
}
.ico-coupon {
	background:url(/images/ico/ico-coupon.svg) no-repeat;
	@include sprite(15px, 12px, 0 2px);
}
.ico-swap {
	background:url(/images/ico/ico-swap.svg) no-repeat;
	@include sprite(15px, 10px, 0 2px);
}
.ico-equip {
	background:url(/images/ico/ico-equip.svg) no-repeat;
	@include sprite(15px, 15px, 0 2px);
}
.ico-time {
	background:url(/images/ico/ico-time.svg) no-repeat;
	@include sprite(15px, 15px, 0 2px);
}
.ico-technical {
	background:url(/images/ico/ico-technical.svg) no-repeat;
	@include sprite(15px, 15px, 0 2px);
}
.ico-form {
	background:url(/images/ico/ico-form.svg) no-repeat;
	@include sprite(12px, 15px, 0 2px);
}
.ico-signout {
	background:url(/images/ico/ico-signout.svg) no-repeat;
	@include sprite(15px, 12px, 0 2px);
}
.ico-marker{
	background:url(/images/ico/ico-marker.svg) no-repeat;
	@include sprite(14px, 20px, 0 2px);
}
.ico-cart{
	background:url(/images/ico/ico-cart.svg) no-repeat;
	@include sprite(24px, 21px, 0 2px);
	vertical-align:top;
}
.ico-info{
	cursor:pointer;
	background:url(/images/ico/ico-info.svg) no-repeat;
	vertical-align: super !important;
	@include sprite(12px, 12px, 0 2px);
}
.ico-infomini{
	background:url(/images/ico/ico-infomini.svg) no-repeat;
	vertical-align: super !important;
	@include sprite(10px, 10px, 0 2px);
}
.ico-arrowleft{
	background:url(/images/ico/ico-arrowleft.svg) no-repeat;
	@include sprite(5px, 9px, 0 8px 0 0);
}
.ico-arrowright{
	background:url(/images/ico/ico-arrowleft.svg) no-repeat;
	transform:rotate(180deg);
	@include sprite(5px, 9px, 0 2px);
}
.ico-arrowrightnext{
	background:url(/images/ico/ico-arrowrightnext.svg) no-repeat;
	@include sprite(10px, 9px, 0 2px);
}
.ico-directionleft{
	background:url(/images/ico/ico-directionleft.svg) no-repeat;
	@include sprite(9px, 9px, 0 2px);
}
.ico-buttonright{
	background:url(/images/ico/ico-buttonright.svg) no-repeat;
	@include sprite(19px, 18px, 0 0 0 10px);
}
.ico-arrowrightorange{
	background:url(/images/ico/ico-arrowrightorange.svg) no-repeat;
	@include sprite(12px, 6px, 0 2px);
}
.ico-leftorangemini{
	background:url(/images/ico/ico-leftorangemini.svg) no-repeat;
	@include sprite(5px, 9px, 0 5px 0 0);
}

.ico-checkwhite{
	background-image:url(/images/ico/ico-checkwhite.svg);
	@include sprite(6px, 6px, 0 2px);
}
.ico-checkgray{
	background-image:url(/images/ico/ico-checkgray.svg);
	@include sprite(6px, 6px, 0 2px);
}
.ico-checkorange{
	background-image:url(/images/ico/ico-checkorange.svg);
	@include sprite(20px, 20px, 0 2px);
}
.ico-checkcircle{
	background-image:url(/images/ico/ico-check-circle.svg);
	@include sprite(39px, 39px, 0 0px);
}

.ico-circle-chevron{
	background-image:url(/images/ico/ico-circle-chevron.svg);
	@include sprite(25px, 25px, 0 0px);
}

.ico-facebook {
	background:url(/images/ico/ico-facebook.svg) no-repeat;
	@include sprite(16px, 16px, 0 2px);
}
.ico-twitter {
	background:url(/images/ico/ico-twitter.svg) no-repeat;
	@include sprite(16px, 16px, 0 2px);
}
.ico-youtube {
	background:url(/images/ico/ico-youtube.svg) no-repeat;
	@include sprite(16px, 16px, 0 2px);
}
.ico-instagram {
	background:url(/images/ico/ico-instagram.svg) no-repeat;
	@include sprite(16px, 16px, 0 2px);
}
.ico-mail {
	background:url(/images/ico/ico-mail.svg) no-repeat;
	@include sprite(16px, 16px, 0 2px);
}
.ico-mailcircle {
	background:url(/images/ico/ico-mail-circle.svg) no-repeat;
	@include sprite(39px, 39px, 0 0px);
}
.ico-closecircle{
	background:url(/images/ico/ico-close-circle.svg) no-repeat;
	@include sprite(16px, 16px, 0 0px);	
}
.ico-delete{
	background:url(/images/ico/ico-delete.svg) no-repeat;
	opacity:0.8;
	@include sprite(12px, 12px, 0 2px);
	&:hover{ opacity:1; }
}
.ico-arrowbreadcrumb{
	background:url(/images/ico/ico-arrowbreadcrumb.svg) no-repeat;
	@include sprite(5px, 7px, 0 7px);	
}


.ico-facebook2 {
	@include sprite(25px, 25px, 0 2px);
	background:url(/images/ico/ico-facebook2.svg) no-repeat;	
	&:hover{ background:url(/images/ico/ico-facebook2-orange.svg) no-repeat; }
}
.ico-twitter2 {
	@include sprite(25px, 25px, 0 2px);
	background:url(/images/ico/ico-twitter2.svg) no-repeat;
	&:hover{ background:url(/images/ico/ico-twitter2-orange.svg) no-repeat; }
}
.ico-youtube2 {
	@include sprite(25px, 25px, 0 2px);
	background:url(/images/ico/ico-youtube2.svg) no-repeat;
	&:hover{ background:url(/images/ico/ico-youtube2-orange.svg) no-repeat; }
}
.ico-instagram2 {
	@include sprite(25px, 25px, 0 2px);
	background:url(/images/ico/ico-instagram2.svg) no-repeat;
	&:hover{ background:url(/images/ico/ico-instagram2-orange.svg) no-repeat; }
}

.ico-maporange {
	background:url(/images/ico/ico-maporange.svg) no-repeat;
	@include sprite(10px, 10px, 0 5px 0 0);
}
.ico-cartorange {
	background:url(/images/ico/ico-cartorange.svg) no-repeat;
	@include sprite(10px, 10px, 0 5px 0 0);
}
.ico-cardorange {
	background:url(/images/ico/ico-cardorange.svg) no-repeat;
	@include sprite(10px, 10px, 0 5px 0 0);
}
.ico-chevrondown {
	background:url(/images/ico/ico-expandcollapse.svg) no-repeat;
	@include sprite(9px, 5px, auto 0px auto 5px);
	background-size: 9px;
    position: absolute;
    top: 0;
    bottom: 0;

}

.ico-home{
	background:url(/images/ico/ico-home.svg) no-repeat;
	@include sprite(20px, 17px, 0 0 0 0);
}
.ico-office{
	background:url(/images/ico/ico-office.svg) no-repeat;
	@include sprite(18px, 19px, 0 0 0 0);
}
.ico-circleoffice{
	background:url(/images/ico/ico-circleoffice.svg) no-repeat;
	@include sprite(46px, 46px, 0 0 0 0);
}
.ico-circlehome{
	background:url(/images/ico/ico-circlehome.svg) no-repeat;
	@include sprite(46px, 46px, 0 0 0 0);
}

.ico-circlegreencheck{
	position: relative;
	vertical-align:middle;
	display:inline-block;
	background-color:#21D380;
	width:28px; height:28px;
	border-radius:50%;
	margin-right:10px;
	&:after{
		content:'';
		position: absolute;
		top:0; bottom:0; left:0; right:0;
		margin:auto;
		width:14px; height:14px;
		background:url(/images/ico/ico-checkwhite.svg);
		background-size:100%;
	}
}

.ico-chevronuporange{
	
}

.ico-spinner {
	background:url(/images/ico/ico-spinner.svg) no-repeat;
	@include sprite(17px, 17px, 0);
	position: absolute;
	top:0; bottom:0; left:0; right:0;
	margin:auto;
	animation: spin 0.8s linear infinite;
}
.ico-spinnercircle {
	background:url(/images/ico/ico-spinner-circle.svg) no-repeat;
	@include sprite(39px, 39px, 0);
	position: absolute;
	right:0;
	margin:auto;
	animation: spin 0.8s linear infinite;
}

.ico-titletop {
	position: relative;
	&:before{
		content: '';
		background:url(/images/ico/ico-titletop.svg) no-repeat;
		@include sprite(36px, 15px, auto);
		position: absolute;
		top: -20px; left:0; right:0;
	}
}
.ico-triangle-reverse{
	display: inline-block;
	position: relative;
	top:-2px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #808080 transparent transparent transparent;
}

.ico-channel-local{
	background-image:url(/images/ico/ico-channel-local.svg);
	@include sprite(26px, 36px, 0 5px 0 0);
}
.ico-channel-kids{
	background-image:url(/images/ico/ico-channel-kids.svg);
	@include sprite(30px, 30px, 0 5px 0 0);
}
.ico-channel-news{
	background-image:url(/images/ico/ico-channel-news.svg);
	@include sprite(29px, 29px, 0 5px 0 0);
}
.ico-channel-international{
	background-image:url(/images/ico/ico-channel-international.svg);
	@include sprite(34px, 34px, 0 5px 0 0);
}
.ico-channel-entertainment{
	background-image:url(/images/ico/ico-channel-entertainment.svg);
	@include sprite(30px, 30px, 0 5px 0 0);
}
.ico-channel-movie{
	background-image:url(/images/ico/ico-channel-movie.svg);
	@include sprite(32px, 28px, 0 5px 0 0);
}
.ico-channel-education{
	background-image:url(/images/ico/ico-channel-education.svg);
	@include sprite(26px, 30px, 0 5px 0 0);
}
.ico-channel-sport{
	background-image:url(/images/ico/ico-channel-sport.svg);
	@include sprite(30px, 30px, 0 5px 0 0);
}

.ico-roadcircle{
	background-image:url(/images/ico/ico-roadcircle.svg);
	@include sprite(82px, 82px, 0);
}
.ico-mapcircle{
	background-image:url(/images/ico/ico-mapcircle.svg);
	@include sprite(120px, 120px, 0);
}
.ico-videocircle{
	background-image:url(/images/ico/ico-videocircle.svg);
	@include sprite(82px, 82px, 0);
}

.ico-starred{
	background-image:url(/images/ico/ico-starred.svg);
	@include sprite(17px, 16px, 0 5px 0 0);
}
.ico-starborderorange{
	background-image:url(/images/ico/ico-starborderorange.svg);
	@include sprite(17px, 16px, 0 5px 0 0);
}


@include break(600){
	// .ico-titletop {
	// 	position: relative;
	// 	&:before{
	// 		content: '';
	// 		background:url(/images/ico/ico-titletopwhite.svg) no-repeat;
	// 		@include sprite(36px, 15px, auto);
	// 		position: absolute;
	// 		top: -20px; left:0; right:0;
	// 	}
	// }
}