.row{
    &:before,
    &:after{
        display: table;
        line-height: 0;
        content: "";
    }
    &:after { clear: both; }
    [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 5px;
        margin-left: 2.127659574468085%;
        box-sizing: border-box;
        &:first-child { margin-left: 0; }
    }
    .span1 { width: 6.382978723404255%; }
    .span2 { width: 14.893617021276595%; }
    .span3 { width: 23.404255319148934%; }
    .span4 { width: 31.914893617021278%; }
    .span5 { width: 40.42553191489362%; }
    .span6 { width: 48.93617021276595%; }
    .span7 { width: 57.44680851063829%; }
    .span8 { width: 65.95744680851064%; }
    .span9 { width: 74.46808510638297%; }
    .span10 { width: 82.97872340425532%; }
    .span11 { width: 91.48936170212765%; }
    .span12 { width: 100%; }
}

.row-fluid{
    &:before,
    &:after{
        display: table;
        line-height: 0;
        content: "";
    }
    &:after { clear: both; }
    [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 5px;
        box-sizing: border-box;
        &:first-child { margin-left: 0; }
    }
    .span1 { width: 8.333333333333333%; }
    .span2 { width: 16.66666666666667%; }
    .span3 { width: 25%; }
    .span4 { width: 33.33333333333333%; }
    .span5 { width: 41.66666666666667%; }
    .span6 { width: 50%; }
    .span7 { width: 58.33333333333334%; }
    .span8 { width: 66.66666666666667%; }
    .span9 { width: 75.00000000000002%; }
    .span10 { width: 83.33333333333333%; }
    .span11 { width: 91.66666666666666%; }
    .span12 { width: 100%; }
}

// responsive
@include break(1280) {
}

@include break(1024) {
}

@include break(768) {     
}

@include break(480) {
}